<!DOCTYPE html>
<html lang="en">
<title> Barcode Reader </title>
<head>
  <link href="../static/main.css" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <h1>Barcode Scanner</h1>
      <h3>Please upload your Image file.</h3>
        <form action="{{url_for('success_table')}}" method="POST" enctype="multipart/form-data">
          <input type="file" accept=".jpg" name="image"/>
          <button type="submit"> Submit </button>
        </form>
      <div class="output">
        {{text|safe}}
        {% include btn ignore missing %}
      </div>
    </div>
    <div class="container">
      <footer>
        <p>Posted by: Kumar Sambhav</p>
        <p>NT ID: KSM2COB
        <p>Contact information: <a href="mailto:Sambhav.Kumar@in.bosch.com">Sambhav.Kumar@in.bosch.com</a>.</p>
      </footer>
    </div>
  </body>
</html>
